/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
  --ion-color-primary: #0b2733;
  --ion-color-primary-rgb: 11, 39, 51;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0a222d;
  --ion-color-primary-tint: #233d47;
}

ion-button#header-home-button {
  font-size: 18px;
}

ion-row#head-banner {
  background: url('../imgs/azure-friday-banner.jpg');
  background-position: center;
  color: #fff;
  padding: 5rem 2rem;
}

#scrollToTopFab {
  margin-right: 10px;
  margin-bottom: 50px;
}

#scrollToTop {
  display: none;
}

#errorMessage {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
}

.body {
  flex: auto;
  overflow: hidden;
  max-height: 6em;
  hyphens: auto;
  /* text-align: justify; */
  word-break: break-all;
}

/* Pagination styling */

.pagination li:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.pagination li:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination li.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #0b2733;
  border-color: #0b2733;
}

.pagination li.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0b2733;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}

.page:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.active>.page {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Custom Skeleton Line Height and Margin */

.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}