@page
@model ErrorModel
@{
    ViewData["Title"] = "Error Page";
}

 <ion-content>
            
    <ion-grid class="ion-no-padding">

        <ion-row id="head-banner" class="ion-justify-content-center">
            <ion-col size-sm="12" size-md="6">              
                 <h1>@ViewData["Title"]</h1>
            </ion-col>
                    
            <ion-col size-sm="12" size-md="4">              
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center" class="ion-padding">
            <ion-col size-sm="12" class="ion-padding  ion-text-center">
                <ion-text color="danger">
                    <h2 class="text-danger">An error occurred while processing your request.</h2>
                    @if (Model.ShowRequestId)
                    {
                        <p>
                            <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        </p>
                    }
                </ion-text>
                <ion-button class="ion-text-center" href="/">Go to Homepage</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
 </ion-content>
