@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->

<div class="jumbotron jumbotron-fluid index">
  <div class="container text-light">
   <div class="row">
       <div class="col-md-8">
            <h1 class="display-4">Azure Friday</h1>
            <p class="lead"> <strong>Trusted voices at the center of the Enterprise and Cloud computing.</strong> </p>
            <p>Join Scott Hanselman every Friday as he engages one-on-one with the engineers who build the services 
                that power Microsoft Azure as they demo capabilities, answer Scott's questions, and share their insights.</p>
       </div>
   </div>
  </div>
</div>


<div class="container">
    <div id="videos-row" class="row">
   
        <div class="col-md-12 mb-3">
            <input type="search" class="form-control search fuzzy-search" name="search"  placeholder="search"/>   
        </div>

        <div class="col-md-12 mb-3">
            <div id="loading" class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div id="errorMessage" >
            </div>
            <div id="videos-list" class="video-list list">

            </div>
        </div>

        <div class="col-md-12 mb-3">
             <ul class="pagination" onclick="updateLazyLoadInstance()"></ul>
        </div>

    </div>
</div>

<script>    

</script>

@section loadListJs {

    
    <!-- intersection observer polyfill -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>

    <environment include="Development">
        
        <!-- the iolazy load library -->
        <!-- <script src="~/js/iolazy.min.js" defer></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>
        <script src="~/js/list.min.js"></script>
    </environment>
}